BasedOnStyle: Google
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^".*"'
    Priority:        1
  - Regex:           '^<sycl/'
    Priority:        2
    SortPriority:    3
  - Regex:           '<[[:alnum:]_/]+\.(h|hpp)>'
    Priority:        3
    SortPriority:    2
  - Regex:           '<^[.]+>'
    Priority:        4
