[submodule "modules/corrade"]
	path = modules/corrade
	url = https://github.com/mosra/corrade.git
[submodule "modules/magnum"]
	path = modules/magnum
	url = https://github.com/mosra/magnum.git
[submodule "modules/magnum-bootstrap"]
	path = modules/magnum-bootstrap
	url = https://github.com/mosra/magnum-bootstrap.git
	branch = base
[submodule "modules/magnum-plugins"]
	path = modules/magnum-plugins
	url = https://github.com/mosra/magnum-plugins.git
[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/magnum-integration"]
	path = modules/magnum-integration
	url = https://github.com/mosra/magnum-integration.git
